*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);
  --ff-family: "Space Mono", monospace;
}

:root .light {
  --logo: hsl(220, 18%, 16%);
  --body: hsl(227, 100%, 98%);
  --bg: hsl(0, 0%, 100%);
  --blue: hsl(212, 100%, 50%);
  --error: hsl(0, 92%, 62%);
  --username: hsl(217, 21%, 21%);
  --text: hsl(217, 35%, 45%);
  --text-disabled: hsla(217, 35%, 45%, 50%);
  --grey: hsl(217, 20%, 51%);
  --stats: hsl(227, 100%, 98%);

  --btn-hover: hsl(212, 100%, 69%);

  --theme: url(../images/icon-moon.svg) right center no-repeat;
  --github-icon: url(../github-icon-192.png);
}

:root .dark {
  --logo: hsl(0, 0%, 100%);
  --body: hsl(220, 40%, 13%);
  --bg: hsl(222, 41%, 20%);
  --blue: hsl(212, 100%, 50%);
  --error: hsl(0, 92%, 62%);
  --username: hsl(0, 0%, 100%);
  --text: hsl(0, 0%, 100%);
  --text-disabled: hsla(217, 35%, 45%, 50%);
  --grey: hsl(0, 0%, 100%);
  --stats: hsl(220, 40%, 13%);

  --btn-hover: hsl(212, 100%, 69%);

  --theme: url(../images/icon-sun.svg) right center no-repeat;
  --github-icon: url(../github-icon-white.png);
}

body {
  background-color: var(--body);
  font-family: var(--ff-family);
  font-size: 13px;
  line-height: 25px;
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 300ms linear;
}

ul,
li {
  list-style: none;
}

input {
  border: 0;
  width: 100%;
  font-family: var(--ff-family);
}

input:focus {
  outline: none;
}

button {
  font-family: var(--ff-family);
  border: 0;
  border-radius: 10px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.error {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 8em;
  color: var(--error);
  text-align: right;
}

.text {
  color: var(--text);
}

.text a {
  color: inherit;
  text-decoration: none;
}

.text a:hover {
  text-decoration: underline;
}

.text-disabled {
  color: var(--text-disabled);
}

.bg {
  border-radius: 15px;
  background-color: var(--bg);
  box-shadow: var(--box-shadow);
}

.button {
  padding: 12px 24px;
  color: white;
  background-color: var(--blue);
}

[data-cursor="true"] {
  cursor: pointer;
}

[data-disabled="true"] {
  cursor: not-allowed;
}

.theme {
  display: flex;
  justify-content: space-between;
  padding-right: 2rem;
  align-items: center;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  color: var(--grey);
  background: var(--theme);
}

.app {
  margin: 30px 24px;
}

.logo {
  font-size: 26px;
  color: var(--logo);
}

.search {
  position: relative;
  overflow: hidden;
  margin: 36px 0 24px;
}

.search input {
  padding: 20px;
  letter-spacing: -0.04em;
  color: var(--username);
  background-color: var(--bg);
}

.search button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.search button:hover {
  background-color: var(--btn-hover);
}

.user {
  padding: 32px 24px;
}

.user__top {
  display: flex;
}

.user__avatar {
  margin-right: 20px;
  width: 70px;
  height: 70px;
}

.user__avatar img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

.user__date {
  color: var(--grey);
}

.user__name {
  display: block;
  color: var(--username);
  font-size: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 60%;
  overflow: hidden;
  display: block;
}

.user__login {
  display: block;
  /* margin-top: 12px; */
  color: var(--blue);
}

.user__text {
  margin: 20px 0 32px;
  color: var(--text);
}

.user__stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 32px 0;
  padding: 17px 32px;
  border-radius: 10px;
  background-color: var(--stats);
}

.user__stats span {
  display: block;
  font-size: 11px;
}

.user__stats strong {
  display: block;
  text-align: center;
  color: var(--username);
  font-size: 16px;
}

.user__info {
  flex-wrap: wrap;
}

.user__item {
  display: flex;
  align-items: center;
}

.user__item:not(:first-child) {
  margin-top: 16px;
}

.image-container {
  margin-right: 1em;
  width: 20px;
  height: 20px;
}


.add-button {
  cursor: pointer;
  position: fixed;
  display: flex;
  align-items: center;
  bottom: 1rem;
  right: 1rem;
  width: 200px;
  background: none;
  color: var(--text);
}

.add-button::before {
  content: "";
  display: inline-block;
  margin-right: 1rem;
  width: 32px;
  height: 32px;
  background-image: var(--github-icon);
  background-size: cover;
}

.add-button img {
  display: block;
  max-width: 32px;
  margin-right: 1rem;
  height: auto;
}

@media (prefers-color-scheme: dark) {
  :root {
    --logo: hsl(0, 0%, 100%);
    --body: hsl(220, 40%, 13%);
    --bg: hsl(222, 41%, 20%);
    --blue: hsl(212, 100%, 50%);
    --error: hsl(0, 92%, 62%);
    --username: hsl(0, 0%, 100%);
    --text: hsl(0, 0%, 100%);
    --text-disabled: hsla(217, 35%, 45%, 50%);
    --grey: hsl(0, 0%, 100%);
    --stats: hsl(220, 40%, 13%);

    --btn-hover: hsl(212, 100%, 69%);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --logo: hsl(220, 18%, 16%);
    --body: hsl(227, 100%, 98%);
    --bg: hsl(0, 0%, 100%);
    --blue: hsl(212, 100%, 50%);
    --error: hsl(0, 92%, 62%);
    --username: hsl(217, 21%, 21%);
    --text: hsl(217, 35%, 45%);
    --text-disabled: hsla(217, 35%, 45%, 50%);
    --grey: hsl(217, 20%, 51%);
    --stats: hsl(227, 100%, 98%);

    --btn-hover: hsl(212, 100%, 69%);
  }
}

@media only screen and (min-width: 768px) {

  html,
  body {
    height: 100vh;
  }

  body {
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .flex {
    display: flex;
    justify-content: space-between;
  }

  .app {
    width: 570px;
    margin: auto;
  }

  .user {
    padding: 40px;
  }

  .user__avatar {
    width: 120px;
    height: 120px;
  }

  .user__avatar img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .user__login {
    font-size: 16px;
  }

  .user__name {
    font-size: 26px;
  }

  .user__stats {
    text-align: left;
  }

  .user__stats span {
    font-size: 13px;
  }

  .user__stats strong {
    text-align: left;
    font-size: 22px;
  }

  .user__info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 0;
    row-gap: 20px;
  }

  .user__item:not(:first-child) {
    margin-top: 0;
  }
}

@media only screen and (min-width: 992px) {
  .app {
    width: 730px;
    margin: auto;
  }

  .user {
    padding: 3.2em;
  }

  .user__avatar+div {
    position: relative;
    flex: 1;
    padding-left: 1em;
  }

  .user__login {
    margin-top: 12px;
  }

  .user__text {
    margin-top: 0;
  }

  .user__date {
    position: absolute;
    right: 0;
    top: 0;
  }

  .user__content {
    margin-top: -1em;
    margin-left: auto;
    width: 480px;
  }
}