header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 26px;
    color: var(--logo);
}

.theme {
    display: flex;
    justify-content: space-between;
    padding-right: 2rem;
    align-items: center;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: var(--grey);
    background: var(--theme);
}